body {
    font-family: "Lato", sans-serif;
}

h2, h3 {
/*    background: #c0c0f0;*/
    background: #add8e6;
    border-bottom: 1px solid #8080c0;
    color: black;
}

ul.no-bullets {
    list-style-type: none;
    margin-left: 30px;
}

button.ui {
    background: #E0E0E0;
    font-size: 14px;
    height: 40px;
}

pre.hal {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
}

div.admonition .icon {
    vertical-align: top;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: underline;
    color: #527bbd;
    padding-right: 0.5em;
}

div.admonition td.content {
    padding-left: 0.5em;
    border-left: 3px solid #dddddd;
}

div.code-block {
    border: 1px solid grey;
    background: #E0E0E0;
    padding: 8px;
}

th, td {
    padding-left: 20px;
}

#wrap {
    margin: 1em 1em;
}
.right {
    float: right;
    margin-left: 1em;
    clear: both;
}
.clearfix {
    clear: both;
}
p {
    margin-bottom: 1em;
    overflow: hidden;
}
